
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'msi';
}

/* html {
  font-size: 62.5%;
} */

/* 
@font-face {
  font-family: 'msi';
  src: url('/my-app/public/fonts/Yekan.woff') format('woff');
  src: url('/my-app/public/fonts/Yekan.ttf') format('ttf') , url('/my-app/public/fonts/Yekan.eot') format('eot');
}

body {
  /* direction: rtl; */
  /* text-align: right; */
  /* font-family: 'msi'; */
/* } */ 
